@font-face {
  font-family: SourceSansLight;
  src: url("./fonts/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
  font-family: SourceSansProSemibold;
  src: url("./fonts/SourceSansPro-Semibold.otf") format("opentype");
}

body, html {
  background: rgb(36, 31, 32);
}

body, html, p, a {
  font-family: "SourceSansLight" !important;
  font-size: 28px;
}

h1, h2, h3, h4, h5 {
  font-family: "SourceSansProSemibold" !important;
}

a {
  text-decoration:none !important;
  background: none;
  border: 0;
  color: black !important;
}

small {
  font-size: 16px;
}

pre {
  font-size: 22px;
}

pre.small {
  font-size: 14px;
}

#Cover, #fake {
  color: white;
  background: black;
}

.slide::after {
  display: none;
}

.full .progress div {
  background: rgb(36, 31, 32);
}

.slide.shout {
  background: rgb(36, 31, 32);
}
